.sale_body {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sale_body h3 {
  font-size: var(--font-size-medium);
  font-family: var(--font-family-primary);
  color: var(--font-primary);

  font-weight: 700;
}

.sale_body > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.sale_content {
  padding: 0px 30px;
}

.sale_current_situation {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.sale_current_situation > span {
  color: var(--font-primary--shade--one);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-small);
}

.sale_current_situation > img {
  width: 13px;
  height: 13px;
  cursor: pointer;
}
