@import url('./styles/general.css');
@import url('./styles/header.css');
@import url('./styles/table.css');
@import url('./styles/sidebar.css');
@import url('./styles/filter.css');
@import url('./styles/form.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
*::-webkit-scrollbar {
  width: 0px;
} */

:root {
  --bg-primary: var(--color-neutral-0);
  --bg-secondary: var(--color-neutral-50);
  --bg-secondary--shade--one: var(--color-green-50);
  --bg-secondary--shade--two: var(--color-teal-50);
  --bg-tertiary: var(--color-neutral-100);
  --hairline-regular: var(--color-neutral-300);
  --hairline-regular--shade--one: var(--color-neutral-300);
  --hairline-regular--shade--two: var(--color-neutral-300);
  --hairline-regular--shade--three: var(--color-neutral-200);
  --hairline-strong: var(--color-neutral-500);
  --content-primary: var(--color-neutral-0);
  --content-primary--shade--one: var(--color-neutral-100);
  --content-primary--shade--two: var(--color-neutral-200);
  --content-secondary: var(--color-neutral-100);
  --content-tertiary: var(--color-neutral-300);
  --content-tertiary--shade--one: var(--color-neutral-50);
  --font-primary: var(--color-neutral-600);
  --font-primary--shade--one: var(--color-neutral-900);
  --font-primary--shade--two: var(--color-neutral-400);
  --font-primary--shade--three: var(--color-neutral-300);
  --font-primary--shade--four: var(--color-neutral-300);
  --font-secondary: var(--color-neutral-0);
  --brand-primary: var(--color-green-500);
  --brand-primary--background: var(--color-green-100);
  --brand-primary--background--two: var(--color-green-200);
  --brand-primary--content: var(--color-green-50);
  --brand-primary--shade--one: var(--color-green-600);
  --brand-primary--shade--two: var(--color-green-300);
  --brand-primary--shade--three: var(--color-teal-100);
  --brand-primary--shade--four: var(--color-green-50);
  --brand-primary--shade--five: var(--color-green-400);
  --brand-accent: var(--color-violet-800);
  --brand-accent--shade--one: var(--color-violet-700);
  --brand-primary-filter: brightness(0) saturate(100%) invert(57%) sepia(29%)
    saturate(835%) hue-rotate(90deg) brightness(90%) contrast(93%);
  --link-primary: var(--color-sky-500);
  --ok-primary--background: var(--color-lime-100);
  --info-primary: var(--color-sky-500);
  --info-primary--background: var(--color-sky-100);
  --danger-primary: var(--color-red-500);
  --danger-primary--background: var(--color-red-100);
  --warning-primary: var(--color-yellow-500);
  --warning-primary--background: var(--color-yellow-100);
  --box-shadow: 0px 0px 8px rgba(73, 87, 105, 0.16);
  --box-shadow--small: 0px 0px 4px rgba(73, 87, 105, 0.24);
  --border-radius: 8px;
  --border-radius--small: 4px;
  --border-radius--circle: 50%;
  --font-size-big: 24px;
  --font-size-medium: 16px;
  --font-size-small: 12px;
  --font-family-primary: 'Gilroy', sans-serif;
  --font-family-secondary: 'Arial', sans-serif;
  --letter-spacing: 0.5px;
  --tag-background-produtos: #fffbe1;
  --tag-border-produtos: #d6ce95;
  --tag-color-produtos: #3d3f33;
  --tag-slot-background-produtos: #fffbe1;
  --tag-slot-border-produtos: #d6ce95;
  --tag-slot-color-produtos: #3d3f33;
  --bg-primary-tela-preferencias: #ffffff;
  --bg-secundary-tela-preferencias: #deecf2;
  --bg-container-ticket: #ffffff;
  --bg-followup: #e4f2e9;
  --bg-subtotal-relatorio: #f2f2f2;
  --bg-painel-relatorios: #e7ecf4;
  --bg-old-container: #eeeeee;
  --bg-old-side-bar: #e6e6e6;
  --bg-old-side-bar--shade--one: #dee3e4;
  --bg-ticket-type: #d6d6d6;
  --font-strong-title: #000000;
  --font-title-side-bar: #b3b1b2;
  --border-item-form: #999999;
  --box-shadow-ticket: #ddd;
  --content-header-boleto-pago: #3f3d3d;
  --box-shadow-boleto-item-pagamento: 0px 6px 6px 3px #00000029;
  --box-shadow-boleto-item-pagamento-before: -15px 0px 8px -10px #00000029 inset;
  --box-shadow-boleto-item-pagamento-after: 15px 0px 8px -10px #00000029 inset;
  --border-pagamento-pix: #5aba80;
}

:root {
  --color-neutral-900: #111829;
  --color-neutral-800: #1f2a3b;
  --color-neutral-700: #344253;
  --color-neutral-650: #3f3f4666;
  --color-neutral-600: #495769;
  --color-neutral-500: #66768c;
  --color-neutral-400: #97a4b8;
  --color-neutral-300: #ccd5e0;
  --color-neutral-200: #e4e9f0;
  --color-neutral-100: #f0f3f7;
  --color-neutral-50: #f8fafc;
  --color-neutral-0: #ffffff;
  --color-green-800: #144728;
  --color-green-700: #1d733c;
  --color-green-600: #288f4e;
  --color-green-500: #34ad61;
  --color-green-400: #5ac782;
  --color-green-300: #8be0aa;
  --color-green-200: #b8f2cd;
  --color-green-100: #dcfae6;
  --color-green-50: #edfcf2;
  --color-teal-800: #134e4a;
  --color-teal-700: #10766e;
  --color-teal-600: #129987;
  --color-teal-500: #12b8a2;
  --color-teal-400: #33ccb8;
  --color-teal-300: #67e6d5;
  --color-teal-200: #9ef7e6;
  --color-teal-100: #ccfcf1;
  --color-teal-50: #edfcf8;
  --color-red-800: #801d1d;
  --color-red-700: #ba291c;
  --color-red-500: #f05143;
  --color-red-300: #fca097;
  --color-red-200: #ffd0cc;
  --color-red-100: #ffe5e3;
  --color-red-50: #fff3f2;
  --color-yellow-800: #713f12;
  --color-yellow-700: #a16207;
  --color-yellow-600: #cf870a;
  --color-yellow-500: #f5a60a;
  --color-yellow-400: #f5b82a;
  --color-yellow-300: #fccd4c;
  --color-yellow-200: #fde68a;
  --color-yellow-100: #fff1c7;
  --color-yellow-50: #fcf9eb;
  --color-lime-800: #355313;
  --color-lime-700: #51800f;
  --color-lime-500: #77b324;
  --color-lime-300: #b5e667;
  --color-lime-200: #d5f79e;
  --color-lime-100: #e9facd;
  --color-lime-50: #f5fce8;
  --color-sky-800: #0c4d6e;
  --color-sky-700: #066da1;
  --color-sky-500: #0eb2e8;
  --color-sky-300: #7cdcfc;
  --color-sky-200: #bbebfc;
  --color-sky-100: #def3fc;
  --color-sky-50: #f0faff;
  --color-orange-800: #7d3011;
  --color-orange-700: #c2480c;
  --color-orange-500: #fa761e;
  --color-orange-300: #ffb675;
  --color-orange-200: #ffd5ab;
  --color-orange-100: #ffedd6;
  --color-orange-50: #fff6ed;
  --color-blue-800: #1d3785;
  --color-blue-700: #1f58cc;
  --color-blue-500: #437df0;
  --color-blue-300: #96c6fa;
  --color-blue-200: #bfdbfe;
  --color-blue-100: #dceafe;
  --color-blue-50: #eff6ff;
  --color-violet-800: #3d1c80;
  --color-violet-700: #612abf;
  --color-violet-500: #9060f0;
  --color-violet-300: #c4b6fd;
  --color-violet-200: #ded6fe;
  --color-violet-100: #ede9fe;
  --color-violet-50: #f6f3ff;
  --color-magenta-800: #641b6b;
  --color-magenta-700: #9a1ea6;
  --color-magenta-500: #d259eb;
  --color-magenta-300: #f0acfc;
  --color-magenta-200: #f5d0fe;
  --color-magenta-100: #fae9ff;
  --color-magenta-50: #fbf2fc;
  --color-pink-800: #73154c;
  --color-pink-700: #b82179;
  --color-pink-500: #ed53ad;
  --color-pink-300: #f8a9d4;
  --color-pink-200: #fbd0e8;
  --color-pink-100: #fbe7f3;
  --color-pink-50: #fdf2f8;
  --color-rose-800: #801136;
  --color-rose-700: #b82153;
  --color-rose-500: #e63a73;
  --color-rose-300: #fca4ba;
  --color-rose-200: #ffcfdb;
  --color-rose-100: #ffe3ea;
  --color-rose-50: #fff0f4;
}

:root {
  --overlay-background: #fff;
}

:root {
  font-family: var(--font-family-primary);
}

.main {
  display: flex;
  padding-top: 40px;
  background-color: var(--bg-secondary);
  min-height: 100vh;
  height: 100%;
}

.main > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  gap: 10px;
}

/* a {
  color: #646cff;
  text-decoration: inherit;
  transition: transform 0.3s ease;
}
a:hover {
  transform: scale(1.1);
} */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  /* cursor: pointer;
  height: 34px;
  margin-right: 8px; */
  display: none;
}

ul {
  list-style: none;
}
