.filter_closed {
  display: flex;
  align-items: center;
  max-width: 56px;
  padding: 0px 10px;
}

.filter_closed > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--hairline-regular);
  width: 36px;
  height: 32px;
  cursor: pointer;
  background-color: var(--bg-primary);
  padding: 1px 6px;
}

.filter_closed > div:hover {
  background-color: var(--box-shadow);
}

.filter_closed img {
  width: 13px;
  height: 13px;
}

.filter_opened {
  position: relative;
  padding-bottom: 40px;
  max-width: 202px;
  background-color: var(--bg-primary);
  box-shadow: var(--box-shadow);
  border-radius: 0 var(--border-radius) 0 0;
}

.close_filters {
  display: flex;
  justify-content: flex-end;
  padding-top: 3px;
  padding-right: 3px;
}

.close_filters > img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.filter_title {
  display: flex;
  align-items: center;
  padding-left: 13px;
  gap: 7px;
}

.filter_title > img {
  width: 15px;
  height: 15px;
}

.filter_line {
  display: flex;
  padding: 10px 13px 0px 13px;
}

.filter_line label {
  font-size: var(--font-size-small);
}

.filter_line div {
  width: 100%;
}

.filter_button {
  position: absolute;
  bottom: 0;
  height: 40px;
  padding-left: 13px;
  padding-right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
